
<app-header pageTitle="Chat" [backButton]="true" ></app-header>

<ion-content #content [scrollEvents]="true" (ionScroll)="scrollToBottom()">
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" *ngIf="message.from != nickname" class="message" [ngClass]="{'my_message': message.from == nickname, 'other_message': message.from != nickname}">
        <ion-label class="user_name">{{ message.from }}</ion-label>
        <ion-label>{{ message.text }}</ion-label>
        <ion-label class="time">{{ message.created | date:'hh:MM'}}</ion-label>
      </ion-col>

      <ion-col size="9" offset="3" *ngIf="message.from == nickname" class="message" [ngClass]="{'my_message': message.from == nickname, 'other_message': message.from != nickname}">
        <ion-label class="user_name">{{ message.from }}</ion-label>
        <ion-label>{{ message.text }}</ion-label>
        <ion-label class="time">{{ message.created | date:'hh:MM'}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col size="9">
        <ion-item lines="none">
          <ion-input type="text" (keydown.enter)="sendMessage()" placeholder="Message" [(ngModel)]="message"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-button fill="clear" color="primary"  (click)="sendMessage()" [disabled]="message === ''">
          Send
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
