<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" *ngIf="backButton" (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    
    <ion-title style="text-align: center; padding-left: 0; padding-right: 0;">{{ pageTitle }}</ion-title>

    <ion-buttons slot="end" >
      <ion-button *ngIf="logoutbtn" (click)="logout()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
