<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button >
        <ion-icon name="chevron-back-outline" *ngIf="backButton" (click)="back()"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title class="header-title">{{ pageTitle }}</ion-title>

    <ion-buttons slot="end">
      <ion-button >
        <ion-icon name="log-out" slot="icon-only" *ngIf="logoutbtn" (click)="logout()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>