.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
  }
  
  .login-form {
    width: 100%;
    max-width: 300px;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-button {
    border-radius: 25px;
    margin-top: 16px;
  }
  
  .register-link {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
  }
  